<!-- views/pages/events.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div>	        
	        <h2>Events</h2>
	        <table class = "table">
	        	<tr>
	        		<th>Name</th>	        		
	        		<th>Date</th>	        		
	        		<th>Location</th>	        		
	        	</tr>			
			    <% events.forEach(function(event) { %>
			        <tr>
				        <td><a href="/event?EventID=<%= event.EventID %>"><%= event.Name %></a></td>				        
				        <td><%= event.Date %></td>
				        <td><%= event.Location %></td>				        
			        </tr>
			    <% }); %>			
			</table>
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>