<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
    
        <div class="jumbotron">
            <h1>Board Game Database</h1>
            <p>Welcome to the Board Game Database. We are all games, all the time.</p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
	        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Register</a>
        </div>
        
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>