<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>                
        <div>
        	<h2>About the Board Game Database</h2>
        	<p>The Board Game Database helps you find board games and people to play them with.</p>
        	<br/>
			<p>The goal of this site is to fulfill the class project database system implementation requirements for SER322.</p>
			<br />
			<b>Authors</b>
			<ul>
				<li>Jeff Gillispie</li>
				<li>Eli Hanna</li>
				<li>Josh Johnson</li>
				<li>Eric Kaufman</li>
				<li>Ty Lorton</li>
			</ul>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>