<!-- views/pages/addGame.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    	<div class="row">       
    	<div class="col-sm-6 col-sm-offset-3">
    		<h1>Add a Game</h1> 
	        <form action="/addGame" method="post">
	        	<div class="form-group">
		            <label>Name</label>
		            <input type="text" class="form-control" name="gameName">
		        </div>
		        
		        <div class="form-group">
		            <label>Category</label>
		            <select name="gameCategory">		            	
		            	<% categories.forEach(function(category) { %>
		            		<option value="<%= category.CategoryID %>"><%= category.Name %></option>
		            	<% }); %>
		            </select>
		        </div>
		        
		        <div class="form-group">
		            <label>Description</label>
		            <input type="text" class="form-control" name="gameDescription">
		        </div>
	        
	        	<div class="form-group">
		            <label>MSRP</label>
		            <input type="number" class="form-control" name="gameMSRP" step="0.01" value="0.99">
		        </div>
		        
		        <div class="form-group">
		            <label>Minimum Players</label>
		            <input type="number" class="form-control" name="gameMinPlayers" step="1" value="2">
		        </div>
		        
		        <div class="form-group">
		            <label>Maximum Players</label>
		            <input type="number" class="form-control" name="gameMaxPlayers" step="1" value="2">
		        </div>
		        
		        <div class="form-group">
		            <label>Recommended Minimum Age</label>
		            <input type="number" class="form-control" name="gameAge" step="1" value="6">
		        </div>
		        
		        <div class="form-group">
		            <label>Average Playing Time in Minutes</label>
		            <input type="number" class="form-control" name="gameLength" step="1" value="30">
		        </div>
	        		    			        		        
		        <button type="submit" class="btn btn-warning btn-lg">Submit</button>
		    </form>
	    </div>
	    </div>                
    </main>

    <footer>    	
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>