<!-- views/pages/groupAdd.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    	<div class="row">       
    	<div class="col-sm-6 col-sm-offset-3">
    		<h1>Add a Game Group</h1> 
    		<!-- show any messages that come back with authentication -->
		    <% if (message.length > 0) { %>
		        <div class="alert alert-danger"><%= message %></div>
		    <% } %>
	        <form action="/review" method="post">
	        	<div class="form-group">
		            <label>Name</label>
		            <input type="text" class="form-control" name="groupName">
		        </div>
		        
		        <div class="form-group">
		            <label>Description</label>
		            <input type="text" class="form-control" name="groupDescription">
		        </div>
	        	
		    	<div class="form-group">
		            <label>Games</label>
		            <select name="groupGames" multiple>		            			            	
			            	<% try { games.forEach(function(game) { %>
			            		<option value="<%= game.GameID %>"><%= game.Name %></option>
			            	<% });} catch(e) {}  %>		            	
		            </select>
		            <p>Hold down Ctrl (WIN) / Command (MAC) burron to select multiple options.</p>
		        </div>
		        
		        <button type="submit" class="btn btn-warning btn-lg" <% if (typeof games == 'undefined') { %> <%= 'DISABLED' %> <% } %>>Submit</button>
		    </form>
	    </div>
	    </div>                
    </main>

    <footer>    	
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>